body {
    background-color: wheat;
}

h1 {
    color: black;
    text-align: center;
    margin: 10px;
}
  
label {
    font-size: 20px;
    margin-top: 7px; 
}

#names {
    flex-direction: row;  
    display: flex;
    justify-content: space-between;
}

select {
    margin-top: 7px;
    margin-bottom: 7px;
}


#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    margin: auto;
    border-style: solid;
    border-radius: 5%;
    padding: 20px;
    background-color: burlywood;
    
}

#button-style {
    text-align: center;
    width: 100px;
    margin-top: 20px;
    
}